<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
    <title>آپلود شده</title>
</head>

<body style="text-align: center;">
    <br>

    <h1>باقر<small>فایل با موفقیت آپلود شد.</small></h1>

    <form action="/" method="GET">
        <button type="submit" class="primary">آپلود دیگری</button>
    </form>

    <form action="{{ files_dir_name }}" method="GET">
        <button type="submit" class="primary">مشاهده فهرست</button>
    </form>

</body>

</html>
